<footer class="footer">
	<small>
		STH'15 Official by <a href="http://www.facebook.com/ajaleelp"> Vertechs </a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>
